@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&display=swap');
:root{
    --color1:#F2F2F2;
    --color2:#D9D9D9;
    --color3:#8C8C8C;
    --color4:#737373;
    --color5:#0D0D0D;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 4rem;
    
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
    
}
p{
    font-size: 1rem;
}
body{
    background: var(--color5);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section{

    max-width: 1850px;
    height: 100vh;
    max-height: 110vh;
    margin: auto;
   
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

.nav{
    position: fixed;
    width: 100vw;
    height: 70px;
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
    z-index: 10;
}
.main{
    position: absolute;
    top: 70px;
    width: 100vw;
 
    z-index: 1;
}
.change{
    background-color: rgba(255, 255, 255, 0.15);
}
.nav .logo{
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--color5);
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.nav .logo div{
    margin-left: 1.5rem;
    width: fit-content;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--color1);
}

.nav .main-nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
.nav .main-nav .main-nav-list{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 0.85rem;
    font-family: 'Poppins', sans-serif;
}
.nav .main-nav .main-nav-list li{
    margin: 1rem;
    opacity: 0.6;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.nav .main-nav .main-nav-list li:hover{
    opacity: 1;
}
.nav .last-nav{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.nav .last-nav .last-nav-list{
    display: flex;
    margin-right: 1rem;
}
.nav .last-nav .last-nav-list li {
    margin: 0.5rem;
}
.nav .last-nav .last-nav-list li a i{
    font-size: 1.2rem;
    color: var(--color1);
    opacity: 0.5;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.nav .last-nav .last-nav-list li a i:hover{
    opacity: 1;

}
.hamburgue-btn{
    display: none;
}
.menu{
    width: 100vw;
    height: 100vh;
    background:rgb(15, 15, 15);
    position: fixed;
    z-index: 11;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .main-nav-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu .main-nav-list li{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: var(--color2);
    margin:0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}
.close{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    cursor: pointer;
    right: 20px;
}
.close::before{
    content: '';
    width: 7.5px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    rotate: 45deg;
    right: 17px;
    top: -4px;
    border-radius: 2rem;
}
.close::after{
    content: '';
    width: 7.5px;
    height: 40px;
    background-color: #fff;
    position: absolute;
    rotate: 135deg;
    right: 17px;
    top: -4px;
    border-radius: 2rem;
  
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.home h3{
    color: var(--color1);
}
.home .home-img{
    margin-top: 2rem;
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
}
.home .home-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.home-presentation{
    text-align: center;
}
.home-presentation p{
    color:var(--color4);
}
.home-presentation .saludo span{
    color: #8c12f0;
}
.home-presentation .profession{
    color: greenyellow;
}
.home-description{
    color: var(--color1);
    text-align: center;
    width: 80vw;
}
.home a{
    padding: 10px 10px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 2rem;
    border-radius: 10px;
    background-color: var(--color1);
    color: #0D0D0D;
    cursor: pointer;
    animation: impact 1.5s infinite;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.about .about-header p{
    color: #8c12f0;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.about .about-header h2{
    color: #fff;
}
.about .info{
    width: 90vw;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    margin-top: 2rem;
    height: 100%;
}
.about .info .info-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.info-img-content{
    width: 300px;
    height: 350px;
    position: relative;
}
.about .info .info-img img{
    width: 100%;
    height: 100%;
}
.about .info .info-img .info-img-content::after{
    position: absolute;
    content: '';
    background-color: transparent;
    width: 80px;
    height: 80px;
    border-bottom: 15px solid greenyellow;
    border-right: 15px solid greenyellow;
    bottom: -40px;
    right: -40px;
}
.about .info .info-img .info-img-content::before{
    position: absolute;
    content: '';
    background-color: transparent;
    width: 80px;
    height: 80px;
    border-top: 15px solid greenyellow;
    border-left: 15px solid greenyellow;
    top: -40px;
    left: -40px;
}
.info-text{
    color: #fff;
}
.info-text .list-info li{
    display: flex;
    align-items: center;
    margin:1rem 0rem;
}
.info-text .list-info .circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:#8c12f0;
    margin-right: 1rem;
}
.info-text .list-info li i{
    margin-right: 0.5rem;
}
.skills{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:80px 0px 16px 0px;
}
#skills > div > p{
    color: #8c12f0;
    text-transform: uppercase;
    letter-spacing: 5px;
}
#skills > div > h2{
    color: #fff;
}
.btn-skill{
    display: flex;
}
.btn-skill button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: 0.5rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: none;
    font-weight: bold;
    outline: none;
}
.active-btn{
    background: #8c12f0;
    color: #fff;
}
.skills-content{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    gap: 50px;
    margin-top: 1rem;
    justify-content: center;
}
.skills-personal{
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
    align-items: center;
    color: white;
    font-weight: bold;
}
.skills-personal p{
    margin-top: 0.5rem;
    text-transform: uppercase;
}
.skills-personal img{
    width: 128px;
    height: 128px;
}
.experiences-content{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 90vw;
    justify-content: center;
}
.content-line-time{
    width: 350px;
}
.line-time{
    height: 0px;
    width: 3px;
    border-radius: 2rem;
    background-color: var(--color2);
    animation: increase 6s ;
    animation-fill-mode: forwards;
    position: relative;
    margin-top: 2rem;
}
.line-time b{
    margin-left: 1.5rem;

    color: #8c12f0;
}
.two-time{
    animation-delay: 6s;
}
.desaparecer{
    display: none !important;
}
.bolitas{
    width: 15px;
    height: 15px;
    background: var(--color2);
    border-radius: 50%;
    display: flex;
    align-items: center;
}
.uno{
    position: absolute;
    top: -10px;
    left: -5px;
    animation: appear 0s;
}
.dos{
    position: absolute;
    top: 110px;
    left: -5px;
    animation: appear 2s;
}
.tres{
    position: absolute;
    top: 220px;
    left: -5px;
    animation: appear 4s;
}
.diferentone{
    position: absolute;
    top: -10px;
    left: -5px;
    animation: appear 6s;
}
.diferenttwo{
    position: absolute;
    top: 110px;
    left: -5px;
    animation: appear 8s;
}
.diferentthree{
    position: absolute;
    top: 220px;
    left: -5px;
    animation: appear 10s;
}
.exp{
    width: 300px;
    margin-left: 1rem;
    height: 82px;
    background-color: white;
    color: var(--color5);
    border-radius: 10px;
    padding-left: 1rem;
    padding-top: 0.2rem;
  
}
.exp p{
    color: var(--color4);
}
.expone{
    position: absolute;
    top: 10px;
    animation: appear 0s;
}
.expotwo{
    position: absolute;
    top: 130px;
    animation: appear 2s;
}
.expothree{
    position: absolute;
    top: 240px;
    animation: appear 4s;
}
.expofour{
    position: absolute;
    top: 10px;
    animation: appear 6s;
}
.expofive{
    position: absolute;
    top: 130px;
    animation: appear 8s;
}
.exposix{
    position: absolute;
    top: 240px;
    animation: appear 10s;
}
.objectives-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 300px;
    width: 500px;
}
.objective{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 1rem;
}
.objective h3{
    color: greenyellow;
}
.objective h4{
    color: #fff;
}
#experiences-content > div.objectives-cont > div:nth-child(1){
    animation: appear 11s;
}
#experiences-content > div.objectives-cont > div:nth-child(3){
    animation: appear 12s;
}
#experiences-content > div.objectives-cont > div:nth-child(2){
    animation: appear 13s;
}
#experiences-content > div.objectives-cont > div:nth-child(4){
    animation: appear 14s;
}
@keyframes impact{
    50%{
        scale: 1.1;   
    }
    100%{
        scale: 1;
    }
}
@keyframes increase{
    33%{
        height: 110px;
    }
    66%{
        height: 220px;
    }
    99%{
        height: 330px;
    }
    100%{
        height: 330px;
    }
}
@keyframes appear{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width:953px) {
    .nav{
        grid-template-columns: 0.5fr 0.5fr;
    }
    #nav > div.main-nav{
        display: none;
    }
    #nav > div.last-nav{
        display: none;
    }
    .hamburgue-btn{
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .hamburgue-btn i{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: black;
        margin-right: 2rem;
        font-size: 1.25rem;
        cursor: pointer;
    }
    #about > div.info{
        grid-template-columns: none;
        grid-template-rows: 0.5fr 0.5fr;
    }
    #about > div.info > div.info-img > div{
        margin: 3rem 0px;
    }
   
    #about{
        height: auto !important;
        max-height: none;
    }
    .experiences-content{
        width: 100vw;
    }
}
@media screen and (max-width:779px){
    #experiences-content{
        display: flex;
        justify-content: center;
    }
    #experiences-content > div:nth-child(2){
        margin-left: 1rem;
    }
}
@media screen and (max-width:614px){
    #home > div.home-description > h1{
        font-size: 3.5rem;
    }
   
}
@media screen and (max-width:541px){
    h2{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:513px){
    #home > div.home-description > h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
        text-align: center;
    }
    
}
@media screen and (max-width:513px){
    #about > div.info > div.info-img > div{
        width: 270px;
        height: 320px;
    }

}
@media screen and (max-width:500px) {
    .objectives-cont{
        width: 400px;
    }
    
}
@media screen and (max-width:430px){
   
    #experiences-content > div:nth-child(2){
        margin-left: 0.75rem;
    }
}
@media screen and (max-width:415px){
   
    
    #experiences-content > div:nth-child(2){
        margin-left: 0.55rem;
    }
      .objective{
        padding: 0;
        width: 150px;
        height: 110px;
        margin: 1rem;
        text-align: center;
        
    }
}
@media screen and (max-width:400px){
   
    
    #experiences-content > div:nth-child(2){
        margin-left: 0;
    }
    .objective{
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
        margin-left: 1rem;
        height: 120px;
        width: 150px;
        text-align: center;
        
    }
}
